#base-bf4-html .box > header:not(.bblog-bf4-filter-btn),
#base-bf4-html table.table > thead tr th,
#base-bf4-html .submenu>ul>li.active>a,
#base-bf4-html .submenu>ul>li.active>span,
#base-bf4-html .submenu>ul>li.active>a:hover,
#base-bf4-html .submenu>ul>li.active>a:active,
#base-bf4-html .forum-start-border .common-box-title .forum-start-forum-headercell,
#base-bf4-html #loadout .loadout-item-container.active header,
#base-bf4-html #base-header .game-bar .main-nav .base-section-menu>li.active:not(.nav-home)>a,
#base-bf4-html #base-header .game-bar .main-nav .base-section-menu>li.active:not(.nav-home)>a:hover,
#base-bf4-html #base-header .game-bar .main-nav .base-section-menu>li.active:not(.nav-home).focused>a,
#base-bf4-html .dialog header,
#base-bf4-html .pagination-paginationbutton.pagination-type-on .pagination-paginationbutton-inner, #base-bf4-html .btn.btn-primary,
#base-bf4-html a.btn.btn-primary,
#base-bf4-html .btn.btn-primary:hover,
#base-bf4-html a.btn.btn-primary:hover,
#base-bf4-html .btn.btn-primary:hover:active,
#base-bf4-html a.btn.btn-primary:hover:active{
	background: #789804 !important
}
#base-bf4-html .bblog-bf4-filter-btn{
	background-color: #789804 !important
}
